html {
    text-align: center;
}

body {
    display: inline-block;
    border: 1px dashed silver;
    margin: 0;
    padding: .5em;
}

table>caption {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: .4em;
    white-space: nowrap;
}

table, th {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    margin-bottom: .4em;
}

th {
    background-color: gainsboro;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 4px;
}

button, input[type=checkbox] {
    cursor: pointer;
}

input[pattern]:valid {
    color: green;
}

td:has(>input[pattern]:valid)~td>input[type=checkbox] {
    display: none;
}

#copy, #paste {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-radius: 3px;
    float: left;
    margin-right: .4em;
}

#copy {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAADdJREFUeAFjCA1gYGDImgIiZoKIWQ5AYmookFi20gFETAARS0BEKJBYtRJChIYBCQY2VII1NBQAzdIZaklVEmwAAAAASUVORK5CYII=');
    margin-left: 2em;
}

#paste {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAD1JREFUeAEdxrENgDAMRNHPZixxhQdwpGxD657GmZIzzdMDAdp2nYJUeCshqrzUrG+vn9k7k3faM5Lh+pE+dp0YRwXyRYwAAAAASUVORK5CYII=');
}

#apply {
    float: right;
    margin-right: 2em;
    min-height: 24px;
}
