html {
    text-align: center;
}

body {
    display: inline-block;
    border: 1px dashed silver;
    margin: 0;
    padding: .5em;
}

table>caption {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: .4em;
    white-space: nowrap;
}

table, th {
    border: 2px solid black;
    border-collapse: collapse;
}

table {
    margin-bottom: .4em;
}

th {
    background-color: gainsboro;
    padding: 0 3px;
}

td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0 4px;
}

button, input[type=checkbox], label {
    cursor: pointer;
}

input[pattern]:valid {
    color: green;
}

td:has(>input[pattern]:valid)~td>input[type=checkbox] {
    display: none;
}

#buttons {
    display: flex;
    margin-bottom: 1em;
}

#buttons>button {
    margin: 0 15px;
}

#buttons>#paste {
    margin-left: 0;
    margin-right: auto;
}

#copy, #paste {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border-width: 1px;
    border-radius: 3px;
}

#copy {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAADdJREFUeAFjCA1gYGDImgIiZoKIWQ5AYmookFi20gFETAARS0BEKJBYtRJChIYBCQY2VII1NBQAzdIZaklVEmwAAAAASUVORK5CYII=");
}

#paste {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAAAD///+D3c/SAAAAAXRSTlMAQObYZgAAAD1JREFUeAEdxrENgDAMRNHPZixxhQdwpGxD657GmZIzzdMDAdp2nYJUeCshqrzUrG+vn9k7k3faM5Lh+pE+dp0YRwXyRYwAAAAASUVORK5CYII=");
}

input[type="radio"] {
    display: none;
}

label > span {
    display: inline-block;
    margin: .2em;
    padding: .3em .6em;
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 1s, border-color 0.3s;
    font: bold .8em sans-serif;
}

input[type="radio"]:checked + span {
    background-color: lightblue;
    border-color: blue;
}

body > label:nth-last-of-type(-n+2) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-right: 5em;
}
